<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ScoreService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8088/Score.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ScoreService" contract="ScoreKeeper.ScoreService"
                name="BasicHttpBinding_ScoreService" />
        </client>
    </system.serviceModel>
</configuration>
