<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="PointValues" type="System.Configuration.NameValueFileSectionHandler" />
    <section name="Settings" type="System.Configuration.NameValueFileSectionHandler" />
  </configSections>
  <!--> The max point value for something is 2147483647, be careful though, if you make something this big, it'll most like push the overall score over it's similar max-->
  <!--> Also, ONLY adjust the value, do not adjust the 'key'-->
  <PointValues>
    <add key="SoftProDollarValue" value="1000" />
    <add key="EnemyKillValue" value="1500" />
    <add key="EnemyDamageValueInSeconds" value="10" />
    <add key="PlayerInvisibilityValueInSeconds" value="2" />
    <add key="SecondsLeftOnClock" value="10" />
    <add key="CompleteMazeGame" value="20000" />
    <add key="QuizCorrectAnswer" value="2000" />
    <add key="QuizIncorrectAnswer" value="10" />
    <!-- These are seconds -->
    <add key="MaxPointsAwardedForTime" value="100000" />
  </PointValues>
  <Settings>
    <add key="UseScoreKeeper" value="False" />
    <add key="FullScreen" value="True" />
  </Settings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ScoreService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8088/Score.svc" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_ScoreService" contract="ScoreKeeperService.ScoreService"
          name="BasicHttpBinding_ScoreService" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>